body {
    background-color: #494949;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: white;
}

p {
    margin: 20px;
}

.mainText {
    font-size: 20px;
}

button{
    width: 60px;
    height: 30px;
    margin-left: 20;
    margin-right: 20;
    font-size: 20px;
}

.space {
    width: 40px;
    height: auto;
    display: inline-block;
}

.buttonContainer{
    text-align: center;
}

/* ul {
    list-style-type: none;
    padding: 0px;
    margin: 5px
}

li {

    padding: 10px 10px 10px 30px;
}*/

.mytitlebar {
    height: 29px;
    margin: 0px;
    padding: 0px;
    width: calc(100%);
    /*Compensate for body 1px border*/
    background: #000000;
    -webkit-app-region: drag;
    color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: center; */
}

.windowTitleStyle {
    margin-left: 3px;
    margin-right: 3px;
}